<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
      </ion-avatar>
      <div>
        <div class="container">
          <ion-label>Fröhler</ion-label>
          <ion-label>Pepe</ion-label>
        </div>
        <div class="container">
          <ion-label>4710</ion-label>
          <ion-label>Grieskirchen</ion-label>
          <ion-label>Sonnenalle 24</ion-label>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
      </ion-avatar>
      <div>
        <div class="container">
          <ion-label>Hansbauer</ion-label>
          <ion-label>Tobias</ion-label>
        </div>
        <div class="container">  
          <ion-label>4707</ion-label>
          <ion-label>Schlüßlberg</ion-label>
          <ion-label>Rosengarten 12</ion-label>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>