<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" showCancelButton="focus" placeholder="Kontakt suchen"></ion-searchbar>
  </ion-toolbar>
  <ion-list *ngFor="let person of persons | filter:searchTerm">
    <app-person-entry [person]="person"></app-person-entry>
  </ion-list>  
</ion-content>