<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Dark Theme</ion-label>
      <ion-toggle [(ngModel)]='isDark' (ionChange)='toggleDarkMode()' style='--handle-background-checked:var(--toggleHead); --background-checked:var(--accentColor)'>Umschalten</ion-toggle>
      <ion-icon name="moon" slot="start"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Akzentfarbe</ion-label>
      <ion-select [(ngModel)]="selectedAccentColor" (ionChange)="changeAccentColor()" placeholder="Auswählen">
        <ion-select-option value="#3880ff">Blau</ion-select-option>
        <ion-select-option value="#28AFB0">Türkis</ion-select-option>
        <ion-select-option value="#EF8354">Orange</ion-select-option>
        <ion-select-option value="#F487B6">Pink</ion-select-option>
        <ion-select-option value="#CC59D2">Lila</ion-select-option>
      </ion-select>
      <ion-icon name="color-palette" slot="start"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
