<ion-header>
  <ion-toolbar>
    <ion-title>Passwort ändern</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" color="danger">
        <ion-icon slot="icon-only" ios="close" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="width: 70%; margin: auto; margin-top: 2rem;">
    <ion-item>
      <ion-label position="stacked">Neues Passwort</ion-label>
      <ion-input [(ngModel)]="newPassword" type="password" placeholder="********"></ion-input>
    </ion-item>
    <ion-button shape="round" expand="full" style="margin-top: 2rem;" (click)="onSubmitPassword()" color="warning">Passwort speichern</ion-button>
  </div>  
</ion-content>