ion-content {
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 20px;
    --padding-top: 20px;
}

ion-item-divider {
    font-size: 30px;
}

#nameLabel {
    font-size: 35px;
}

#locationItem {
    margin-bottom: 50px;
}

ion-card {
    margin-bottom: 40px;
}

a { text-decoration: none; }