<ion-split-pane contentId="menu-content">

  <ion-menu contentId="menu-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle autoHide="false">
        <ion-item routerLink="/app/about" routerDirection="root" routerLinkActive="active-link">
          <ion-label>
            About
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle autoHide="false">
        <ion-item routerLink="/app/settings" routerDirection="root" routerLinkActive="active-link">
          <ion-label>
            Settings
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="menu-content"></ion-router-outlet>

</ion-split-pane>