<ion-header>
  <ion-toolbar>
    <ion-title>Benutzerdaten</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/admin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{user?.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Rolle:</ion-label>
        <ion-label>{{user?.role}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Passwort:</ion-label>
        <ion-label>{{user?.password}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Dark Theme:</ion-label>
        <ion-label>{{user?.prefersDarkMode}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Akzentfarbe:</ion-label>
        <ion-label>{{user?.preferedAccentColor}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>